:root {
    --fondoBody: hsl(160, 85%, 43%);
    --fondoDivPrincipal: rgb(42, 47, 88);
    --fondoGrid: rgb(33, 39, 88);
    --colorBorde: rgb(15, 161, 112);
    --colorSecundario: rgb(7, 194, 153);
    --fondoBotonComponentes: linear-gradient(rgb(189, 16, 16), rgb(110, 21, 21));
    --colorBordeBotonComponenetes: rgb(110, 57, 21);
    --colorBordeGrid: rgb(25, 29, 65);
    --resplandorBorde: rgb(91, 243, 160);
    --letraParrafo: 20px;
    --letraInput: 15px;
    --alturaGrid: 500px;
    --columnas: repeat(2, 1fr);
    --filas: repeat(5,1fr);
}

body {
    background: var(--fondoBody);
    font-family: Arial, Helvetica, sans-serif;
}

.Borde {
    border-width: 5px;
    border-color: var(--colorBorde);
    border-style: solid;
    border-radius: 55px;
    box-shadow: 0px 1px 10px 3px var(--resplandorBorde);
}

.Contenido {
    margin: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: var(--colorSecundario);
    width: auto;
    height: auto;
    padding: 2%;
}

.Boton {
    width: auto;
    height: auto;
    font-size: 20px;
    margin: 1%;
    background-color: transparent;
    border-color: #043d74;
    border-width: 3px;
    border-radius: 5px;
    color: aliceblue;
}

p {
    font-size: 16px;
    color: #02130d;
    padding-left: 1%;
    margin: 2px;
}
.EncabezadoProductos{
    grid-area: 2/2/2/2;
    
}
.EncabezadoPrecios{
    grid-area: 2/3/2/3;
}

.grid{
    height: var(--alturaGrid);
    
    display: grid;
    grid-template: 20px 50px var(--filas) 20px/20px var(--columnas) 20px;
    overflow: hidden;
    justify-content: center;
    text-align:center;
    border-right: 3px solid #333;
    border-bottom: 3px solid #333;
}
.Productos{
    grid-area: 3/2/span 5/2;
}
.Precios{
    grid-area: 3/3/span 5/3;
}
.grid-item{
    position:relative;
    padding:1rem;
    
}
.grid-item::before, 
.grid-item::after {
   content: '';
   position: absolute;
   background-color: #333;
   z-index: 1;
}
.grid-item::after {
  width: 100vw;
  height: 3px;
  left: 0px;
  top: -1px;
  bottom: 100%;
}
.grid-item::before {
  width: 3px;
  height: 100%;
  left: 0px;
  top: 0;  
  bottom: 100%;
}
.contenido2{
    max-width:500px;
    margin:auto;
  }