<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Estilo.css') }}">
    <title>incio</title>
</head>

<body class="Fondo">
    <div class="Borde Contenido">
        <h1>
            Bienvenido a mi web con Flask (Practica)
        </h1>
        <a href="{{ url_for('productos') }}">
            <button class="Boton">
                Ver productos
            </button>
        </a>
    </div>
</body>

</html>