<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Estilo.css') }}">
    <title>productos</title>

</head>

<body>
    <div class="Contenido Borde">
        <h1>Lista de Productos</h1>
        <div class="contenido2">
        <div class="grid">
            <p class="EncabezadoProductos grid-item">Nombre</p>
            <p class="EncabezadoPrecios grid-item">Precio</p>
            <div id="IDproductos" class="Productos grid-item"></div>
            <div id="IDprecios" class="Precios grid-item"></div>
        </div>
    </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>

        <a href="{{ url_for('home') }}">
            <button class="Boton">Volver al inicio</button>
        </a>
    </div>
</body>

</html>